<!DOCTYPE html>
<html lang="en">

    <%- include("./partials/head.ejs", {cssSheet: "about", title: "Who Am I?"}) %>
    
    
    <body>

          <!-- navbar podria tener: home, about me, proyects -->

        <main>  <!-- home podria tener: 
            - entrada con foto de back + nombre y titulo, 
            - educacion,
            - skills,
            - footer donde figure mi nombre mas chiquito y un breve agradecimiento por visitar la pagina +
            - botones de contacto y boton de subir arriba -->

            <section class="section-top">
                <div class="div-top">  <!-- el rojo -->
            
                    <a href="/" class="a-h2-nombre">
                        <h2 class="h2-nombre">RS</h2>
                        <!-- <div class="hori"></div>
                        <div class="hori2"></div>
                        <div class="verti"></div>
                        <div class="verti2"></div> -->
                    </a>
                    <a href="/" class="a-h2-nombre-desktop1200"><h2 class="h2-nombre-desktop-izq">RODRIGO</h2><h2 class="h2-nombre-desktop-der">STOCHETTA</h2></a>
                    
                    <div class="div-icon" style="opacity: 1;" id="menuH">
                        <i class="fa-sharp fa-regular fa-bars-staggered"></i>  <!-- menu hamburg -->
                        <i class="fa-sharp fa-regular fa-xmark"></i>  <!-- cruz -->
            
                        <div class="div-links">  <!-- contenedor oculto -->
                            <div class="div-links-interior">
                                
                                <div class="contenedor-verde-primerodearriba"> <!-- el contenedor verde -->
                                    <p class="p-link"><a href="/" class="link-contenedor-oculto-top">Home</a></p>  
                                </div>
            
                                <div class="contenedor-verde-medio"> <!-- el contenedor verde -->
                                    <p class="p-link"><a href="/proyects" class="link-contenedor-oculto-top">Proyects</a></p> 
                                </div>
            
                                <div class="contenedor-verde-ultimodeabajo"> <!-- el contenedor verde -->
                                    <p class="p-link"><a href="/about" class="link-contenedor-oculto-top">Who am I?</a></p>
                                </div>
            
                                <div class="contenedor-azul-leyenda"> <!-- el contenedor verde -->
                                    <p class="p-leyenda">“The best software developers are the ones who truly enjoy what they do the most” - Rafael Gómez</p>
                                </div>
            
                            </div>
                        </div>
                    </div>
            
                    <div class="div-navbar">
            
                        <div class="div-navbar-interior">
            
                            <p class="button-navbar"><a href="/">Home</a></p>
            
                            <p class="button-navbar"><a href="/about">Who am I?</a></p>
            
                            <p class="button-navbar"><a href="/proyects">Proyects</a></p>
            
                            <!-- <div class="div-idioma-navbar">
                                <p class="button-navbar-idioma">English</p>
                            </div>
                            <div class="contenedor-opciones">
                                <div class="contenedor-opciones-interior">
                                    <p class="seleccion-idioma-home">Select your language:</p>
                                    <p class="opcion-ingles">English</p>
                                    <p class="opcion-espanol">Spanish</p>
                                </div>
                            </div> -->
                            
                        </div>
            
                    </div>
            
                </div>
            </section>

            <section class="section-top">

            </section>

            <!-- WHO AM I -->
            <section class="section-about">
                <div class="div-titulo-arriba-about">
                    <h3 class="title-arriba">Who<h3 class="title-arriba-dorado">am I</h3></h3>
                </div>

                <div class="div-contenedor-about">  <!-- el cyan -->

                    <article class="article-about">  <!-- el verde -->
                        <div class="div-interno-about"> <!-- el rojo, con el background translucido -->
    
                            <div class="div-con-img-about">
                                <div class="div-con-img-about-interno">
                                    <!-- <img src="img/usersImage/cuadrada b&w.jpg" class="img-carnet" alt="img-digital"> -->
                                    <!-- <img src="img/usersImage/cuadrada sin cambios.jpg" class="img-carnet" alt="img-digital"> -->
                                    <img src="img/usersImage/jpg/13149561_network_communications_background_with_flowing_cyber_dots_1609 copy cuadrada.jpg" class="img-carnet" alt="img-digital">
                                    <!-- <img src="img/usersImage/jpg/22128136_abstract_flowing_dots_background_1609 cuadrada.jpg" class="img-carnet" alt="img-digital"> -->
                                    <!-- <img src="img/usersImage/jpg/13149561_network_communications_background_with_flowing_cyber_dots_1609 copy2.jpg" class="img-carnet2" alt="img-digital"> -->
                                </div>
                            </div> 
    
                            <div class="div-description-about">
                                <div class="div-datos-about-primero">
                                    <p class="datos-about">Name: Rodrigo Stochetta_</p>
                                </div>
                                <div class="div-datos-about-primero-desktop">
                                    <p class="datos-about">Name: Rodrigo_</p>
                                </div>
                                <div class="div-datos-about-desktop">
                                    <p class="datos-about">Last name: Stochetta_</p>
                                </div>
                                <div class="div-datos-about">
                                    <p class="datos-about">Age: 37_</p>
                                </div>
                                <div class="div-datos-about">
                                    <p class="datos-about">Profession: FullStack Dev_</p>
                                </div>
                                <div class="div-datos-about">
                                    <p class="datos-about">Tel: +5491136517343_</p>
                                </div>
                                <div class="div-datos-about">
                                    <p class="datos-about">Location: Buenos Aires, Arg_</p>
                                </div>
                                <div class="div-download-cv">
                                    <a href="img/certificados/CV-Rodrigo-Stochetta.pdf" download="CV-Rodrigo-Stochetta">
                                        <div class="download-cv-externo">
                                            <p class="download-cv">Download CV_</p>
                                        </div>
                                    </a>
                                </div>
                            </div>

                            <div class="div-download-cv-desktop">
                                <a href="img/certificados/CV-Rodrigo-Stochetta.pdf" download="CV-Rodrigo-Stochetta">
                                    <div class="download-cv-externo">
                                        <p class="download-cv">Download CV_</p>
                                    </div>
                                </a>
                            </div>
    
                        </div>
                    </article>

                    <div class="div-lorem-aboutme">

                        <p class="lorem-about-negrita">Hello, I am Rodrigo Stochetta, full stack web developer, architect and designer.</p>
                        <p class="lorem-about-1ro">My passion for technology made me discover the wonderful world of web development.</p>
                        <!-- <p class="lorem-about">I enjoy designing apps and web pages, from routes, logic, user experience, and visuals designed for each device.</p> -->
                        <p class="lorem-about">I am excited to think that a few simple lines of code on my computer can make many people enjoy viewing the content of the website for which they were written.</p>
                        <p class="lorem-about-ultimo">Also, a display of visually friendly content, with a professional and modern touch, makes its consumption easier.</p>

                        <p class="lorem-about-medio">I like challenges, and I consider myself a person with a lot of dedication to what I do, with a great desire to continue learning.</p>

                        <p class="lorem-about-dorado">Thinking about design for an architect is doing what we like to do most, so I feel completely comfortable doing what I do, designing web pages with clean and understandable code to improve people's lives.</p>
                            
                    </div>

                </div>
                
            </section>

            <!-- HOW I WORK -->
            <section class="section-work">
                <div class="div-titulo-arriba-about">
                    <h3 class="title-arriba">How<h3 class="title-arriba-dorado">I work</h3></h3>
                </div>

                <div class="div-flex-fila-work">

                    <article class="article-work"> <!-- el verde -->
                        <div class="div-interno-work"> <!-- el rojo, con el background translucido -->
    
                            <div class="div-con-img-work">
                                <a href="img/screenshots/Captura de pantalla 2024-08-12 142600.png" target="_blank">
                                    <div class="div-con-img-work-interno">
                                        <img src="img/screenshots/masrecortadas/img-arriba-uno2.png" class="img-digital" alt="img-categoria-desktop">
                                        <div class="etiqueta-dorada"><i class="fa-regular fa-magnifying-glass"></i></div>
                                    </div>
                                </a>
                            </div>
    
                            <div class="div-description-work">
                                <div class="div-interno-description-work">
                                    <p class="texto-work">I use colored line borders to measure dimensions. Here we are at the product list with filters panel on the left, by category on Patitas_v2 proyect. Desktop screen.</p>
                                </div>
                            </div>
    
                        </div>
                    </article>

                    <article class="article-work-der">
                        <div class="div-interno-work-der">
    
                            <div class="div-con-img-work">
                                <a href="img/screenshots/Captura de pantalla 2024-07-29 161050.png" target="_blank">
                                    <div class="div-con-img-work-interno">
                                        <img src="img/screenshots/recortadas/img-arriba-cuatro.png" class="img-digital" alt="img-formulario">
                                        <div class="etiqueta-dorada"><i class="fa-regular fa-magnifying-glass"></i></div>
                                    </div>
                                </a>
                            </div> 
    
                            <div class="div-description-work">
                                <div class="div-interno-description-work">
                                    <p class="texto-work">I use colored line borders to measure form dimensions too. Here we are at the product create form page on Patitas_v2 proyect. Desktop screen.</p>
                                </div>
                            </div>
    
                        </div>
                    </article>

                </div>

                <div class="div-flex-fila-work">

                    <article class="article-work">
                        <div class="div-interno-work">
    
                            <div class="div-con-img-work">
                                <a href="img/screenshots/Captura de pantalla 2024-08-13 104014.png" target="_blank">
                                    <div class="div-con-img-work-interno">
                                        <img src="img/screenshots/recortadas/Captura de pantalla 2024-08-13 104014 copy.png" class="img-digital" alt="img-ledger">
                                        <div class="etiqueta-dorada"><i class="fa-regular fa-magnifying-glass"></i></div>
                                    </div>
                                </a>
                            </div> 
    
                            <div class="div-description-work">
                                <div class="div-interno-description-work">
                                    <p class="texto-work">I use developer tools on other web sites to see how they are set up and get ideas for fonts and colors. Here in this portfolio I used the fonts from Ledger website.</p>
                                </div>
                            </div>
    
                        </div>
                    </article>

                    <article class="article-work-der">
                        <div class="div-interno-work-der">
    
                            <div class="div-con-img-work">
                                <a href="img/screenshots/Captura de pantalla 2024-07-31 183128.png" target="_blank">
                                    <div class="div-con-img-work-interno">
                                        <img src="img/screenshots/masrecortadas/img-arriba-tres2.png" class="img-digital" alt="img-filter-mobile-inspect">
                                        <div class="etiqueta-dorada"><i class="fa-regular fa-magnifying-glass"></i></div>
                                    </div>
                                </a>
                            </div> 
    
                            <div class="div-description-work">
                                <div class="div-interno-description-work">
                                    <p class="texto-work">Developer tools are very useful as I can see paddings, margins and dimensions. We can see here the filters on product list on Patitas_v2 proyect, mobile screen.</p>
                                </div>
                            </div>
    
                        </div>
                    </article>

                </div>
                
            </section>

            <!-- PICTURES OF MY WORK -->
            <section class="section-pics">
                <div class="div-titulo-arriba-about">
                    <h3 class="title-arriba">Some pics of<h3 class="title-arriba-dorado-work">my work</h3></h3>
                </div>

                <div class="div-flex-fila-work">
                    <!-- flex -->
                    <article class="article-work">
                        <div class="div-interno-work-flex">
    
                            <div class="div-izquierda-work">
                                <div class="div-con-img-work">
                                    <a href="img/screenshots/nuevas-mobile/Captura de pantalla 2024-08-16 100039.png" target="_blank" class="a-del-div-img">
                                        <div class="div-con-img-work-interno-larga">
                                            <img src="img/screenshots/nuevas-mobile/Captura de pantalla 2024-08-16 100039.png" class="img-digital-larga" alt="img-perfil-mobile" style="align-self: flex-start;">
                                            <div class="etiqueta-dorada"><i class="fa-regular fa-magnifying-glass"></i></div>
                                        </div>
                                    </a>
                                </div>
    
                                <div class="div-description-work">
                                    <div class="div-interno-description-work">
                                        <p class="texto-work">User profile screen. Patitas_v2 proyect. Mobile screen.</p>
                                    </div>
                                </div>
                            </div>

                            <div class="div-derecha-work">
                                <div class="div-con-img-work">
                                    <a href="img/screenshots/nuevas-mobile/Captura de pantalla 2024-08-16 100759.png" target="_blank" class="a-del-div-img">
                                        <div class="div-con-img-work-interno-larga">
                                            <img src="img/screenshots/nuevas-mobile/Captura de pantalla 2024-08-16 100759.png" class="img-digital-larga" alt="img-categoria-listado-mobile" style="align-self: flex-start;">
                                            <div class="etiqueta-dorada"><i class="fa-regular fa-magnifying-glass"></i></div>
                                        </div>
                                    </a>
                                </div>
    
                                <div class="div-description-work">
                                    <div class="div-interno-description-work">
                                        <p class="texto-work">Product list, by category. Patitas_v2 proyect. Mobile screen.</p>
                                    </div>
                                </div>
                            </div>
                            
                        </div>
                    </article>

                    <!-- flex -->
                    <article class="article-work-der">
                        <div class="div-interno-work-flex-der">
    
                            <div class="div-izquierda-work">
                                <div class="div-con-img-work">
                                    <a href="img/screenshots/nuevas-mobile/Captura de pantalla 2024-08-16 100617.png" target="_blank" class="a-del-div-img">
                                        <div class="div-con-img-work-interno-larga">
                                            <img src="img/screenshots/nuevas-mobile/Captura de pantalla 2024-08-16 100617.png" class="img-digital-larga" alt="img-detalle-producto-mobile" style="align-self: flex-start;">
                                            <div class="etiqueta-dorada"><i class="fa-regular fa-magnifying-glass"></i></div>
                                        </div>
                                    </a>
                                </div>
    
                                <div class="div-description-work">
                                    <div class="div-interno-description-work">
                                        <p class="texto-work">Product page, by id. Patitas_v2 proyect. Mobile screen.</p>
                                    </div>
                                </div>
                            </div>

                            <div class="div-derecha-work">
                                <div class="div-con-img-work">
                                    <a href="img/screenshots/nuevas-mobile/Captura de pantalla 2024-08-16 100708.png" target="_blank" class="a-del-div-img">
                                        <div class="div-con-img-work-interno-larga">
                                            <img src="img/screenshots/nuevas-mobile/Captura de pantalla 2024-08-16 100708.png" class="img-digital-larga" alt="img-editar-producto-mobile" style="align-self: flex-start;">
                                            <div class="etiqueta-dorada"><i class="fa-regular fa-magnifying-glass"></i></div>
                                        </div>
                                    </a>
                                </div>
    
                                <div class="div-description-work">
                                    <div class="div-interno-description-work">
                                        <p class="texto-work">Product edit with admin permissions. Patitas_v2 proyect. Mobile screen.</p>
                                    </div>
                                </div>
                            </div>
                            
                        </div>
                    </article>

                </div>

                <div class="div-flex-fila-work">
                    <!-- flex -->
                    <article class="article-work">
                        <div class="div-interno-work-flex">
    
                            <div class="div-izquierda-work">
                                <div class="div-con-img-work">
                                    <a href="img/screenshots/nuevas-mobile/Captura de pantalla 2024-08-16 100153.png" target="_blank" class="a-del-div-img">
                                        <div class="div-con-img-work-interno-larga">
                                            <img src="img/screenshots/nuevas-mobile/Captura de pantalla 2024-08-16 100153.png" class="img-digital-larga" alt="img-editar-user-mobile" style="align-self: flex-start;">
                                            <div class="etiqueta-dorada"><i class="fa-regular fa-magnifying-glass"></i></div>
                                        </div>
                                    </a>
                                </div>
    
                                <div class="div-description-work">
                                    <div class="div-interno-description-work">
                                        <p class="texto-work">User edit screen. Patitas_v2 proyect. Mobile screen.</p>
                                    </div>
                                </div>
                            </div>

                            <div class="div-derecha-work">
                                <div class="div-con-img-work">
                                    <a href="img/screenshots/nuevas-mobile/Captura de pantalla 2024-08-16 100843.png" target="_blank" class="a-del-div-img">
                                        <div class="div-con-img-work-interno-larga">
                                            <img src="img/screenshots/nuevas-mobile/Captura de pantalla 2024-08-16 100843.png" class="img-digital-larga" alt="img-filtros-category-mobile" style="align-self: flex-start;">
                                            <div class="etiqueta-dorada"><i class="fa-regular fa-magnifying-glass"></i></div>
                                        </div>
                                    </a>
                                </div>
    
                                <div class="div-description-work">
                                    <div class="div-interno-description-work">
                                        <p class="texto-work">Filters on product list. Patitas_v2 proyect. Mobile screen.</p>
                                    </div>
                                </div>
                            </div>
                            
                        </div>
                    </article>

                    <article class="article-work-der">
                        <div class="div-interno-work-der">
    
                            <div class="div-con-img-work">
                                <a href="img/screenshots/Captura de pantalla 2024-08-12 142001.png" target="_blank">
                                    <div class="div-con-img-work-interno">
                                        <img src="img/screenshots/recortadas/img-abajo-uno.png" class="img-digital" alt="img-categoria-desktop">
                                        <div class="etiqueta-dorada"><i class="fa-regular fa-magnifying-glass"></i></div>
                                    </div>
                                </a>
                            </div>

                            <div class="div-description-work">
                                <div class="div-interno-description-work">
                                    <!-- <p class="texto-work">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Possimus eaque magni suscipit, quo fuga laboriosam.</p> -->
                                    <p class="texto-work">Product list with filters panel on the left, by category. Patitas_v2 proyect. Desktop screen.</p>
                                </div>
                            </div>
    
                        </div>
                    </article>

                </div>

                <div class="div-flex-fila-work">

                    <article class="article-work">
                        <div class="div-interno-work">
    
                            <div class="div-con-img-work">
                                <a href="img/screenshots/Captura de pantalla 2024-08-12 141411.png" target="_blank">
                                    <div class="div-con-img-work-interno">
                                        <img src="img/screenshots/recortadas/img-abajo-cuatro.png" class="img-digital" alt="img-formulario-desktop">
                                        <div class="etiqueta-dorada"><i class="fa-regular fa-magnifying-glass"></i></div>
                                    </div>
                                </a>
                            </div>

                            <div class="div-description-work">
                                <div class="div-interno-description-work">
                                    <!-- <p class="texto-work">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Possimus eaque magni suscipit, quo fuga laboriosam.</p> -->
                                    <p class="texto-work">Product create form page, with admin permissions. Patitas_v2 proyect. Desktop screen.</p>
                                </div>
                            </div>
    
                        </div>
                    </article>

                    <article class="article-work-der">
                        <div class="div-interno-work-der">
    
                            <div class="div-con-img-work">
                                <a href="img/screenshots/Captura de pantalla 2024-08-12 142925.png" target="_blank">
                                    <div class="div-con-img-work-interno">
                                        <img src="img/screenshots/recortadas/img-abajo-dos.png" class="img-digital" alt="img-detalle-producto-desktop">
                                        <div class="etiqueta-dorada"><i class="fa-regular fa-magnifying-glass"></i></div>
                                    </div>
                                </a>
                            </div>

                            <div class="div-description-work">
                                <div class="div-interno-description-work">
                                    <!-- <p class="texto-work">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Possimus eaque magni suscipit, quo fuga laboriosam.</p> -->
                                    <p class="texto-work">Product detail with related products under the same category. Patitas_v2 proyect. Desktop screen.</p>
                                </div>
                            </div>
    
                        </div>
                    </article>

                </div>
                
            </section>

            <!-- FOOTER -->
            <%- include("./partials/footer.ejs") %>

        </main>
        
        <script src="/js/scroll-up.js"></script>
        <script src="/js/panel.js"></script>
        <script src="/js/cambioIdioma.js"></script>
        
    </body>
</html>