<!DOCTYPE html>
<html lang="en">

    <%- include("./partials/head.ejs", {cssSheet: "proyects", title: "My Proyects"}) %>
    
    
    <body>

          <!-- navbar podria tener: home, about me, proyects -->

        <main>  <!-- home podria tener: 
            - entrada con foto de back + nombre y titulo, 
            - educacion,
            - skills,
            - footer donde figure mi nombre mas chiquito y un breve agradecimiento por visitar la pagina +
            - botones de contacto y boton de subir arriba -->

            <section class="section-top">
                <div class="div-top">  <!-- el rojo -->
            
                    <a href="/" class="a-h2-nombre">
                        <h2 class="h2-nombre">RS</h2>
                        <!-- <div class="hori"></div>
                        <div class="hori2"></div>
                        <div class="verti"></div>
                        <div class="verti2"></div> -->
                    </a>
                    <a href="/" class="a-h2-nombre-desktop1200"><h2 class="h2-nombre-desktop-izq">RODRIGO</h2><h2 class="h2-nombre-desktop-der">STOCHETTA</h2></a>
                    
                    <div class="div-icon" style="opacity: 1;" id="menuH">
                        <i class="fa-sharp fa-regular fa-bars-staggered"></i>  <!-- menu hamburg -->
                        <i class="fa-sharp fa-regular fa-xmark"></i>  <!-- cruz -->
            
                        <div class="div-links">  <!-- contenedor oculto -->
                            <div class="div-links-interior">
                                
                                <div class="contenedor-verde-primerodearriba"> <!-- el contenedor verde -->
                                    <p class="p-link"><a href="/" class="link-contenedor-oculto-top">Home</a></p>  
                                </div>
            
                                <div class="contenedor-verde-medio"> <!-- el contenedor verde -->
                                    <p class="p-link"><a href="/proyects" class="link-contenedor-oculto-top">Proyects</a></p> 
                                </div>
            
                                <div class="contenedor-verde-ultimodeabajo"> <!-- el contenedor verde -->
                                    <p class="p-link"><a href="/about" class="link-contenedor-oculto-top">Who am I?</a></p>
                                </div>
            
                                <div class="contenedor-azul-leyenda"> <!-- el contenedor verde -->
                                    <p class="p-leyenda">“First, solve the problem. Then, write the code” - John Johnson</p>
                                </div>
            
                            </div>
                        </div>
                    </div>
            
                    <div class="div-navbar">
            
                        <div class="div-navbar-interior">
            
                            <p class="button-navbar"><a href="/">Home</a></p>
            
                            <p class="button-navbar"><a href="/about">Who am I?</a></p>
            
                            <p class="button-navbar"><a href="/proyects">Proyects</a></p>
            
                            <!-- <div class="div-idioma-navbar">
                                <p class="button-navbar-idioma">English</p>
                            </div>
                            <div class="contenedor-opciones">
                                <div class="contenedor-opciones-interior">
                                    <p class="seleccion-idioma-home">Select your language:</p>
                                    <p class="opcion-ingles">English</p>
                                    <p class="opcion-espanol">Spanish</p>
                                </div>
                            </div> -->
                            
                        </div>
            
                    </div>
            
                </div>
            </section>

            <section class="section-top" style="margin-top: -1px;">

            </section>

            <!-- PROYECTS -->
            <section class="section-proyects">  <!-- el blue -->
                <div class="div-titulo-arriba">
                    <h3 class="title-arriba">My<h3 class="title-arriba-dorado">proyects</h3></h3>
                </div>

                <!-- PROYECTO 1 -->
                <article class="article-proyect"> <!-- el verde -->
                    <article class="article-proyect-1"> <!-- el borde negro -->

                        <div class="div-latest-proyect">
                            <p class="latest-proyect">Latest proyect</p><p class="guion" style="font-weight: 500;">_</p>
                        </div>
                        
                        <div class="div-interno-proyect-1"> <!-- el rojo, con el background translucido -->
    
                            <div class="div-con-img-work-1">
                                <a href="https://patitas-v2.onrender.com">
                                    <div class="div-con-img-work-interno-1">
                                        <img src="img/screenshots/portadas de paginas/Captura de pantalla 2024-08-14 105608.png" class="img-proyect-1" alt="img-proyect">
                                        <div class="etiqueta-dorada"><i class="fa-regular fa-link"></i></div>
                                    </div>
                                </a>
                            </div>
    
                            <div class="div-description-proyect-1">  <!-- el yellow -->
                                <div class="div-interno-description-proyect">  <!-- el rojo -->
                                    <div class="div-flex-column-data-proyect">  <!-- el violeta -->
                                        <div class="div-titulo-proyect">
                                            <p class="titulo-proyect">Site: Patitas v2.0</p><p class="guion" style="color: black; font-weight: 500;">_</p>
                                        </div>
                                        <div class="div-about-proyect">
                                            <p class="about-proyect">Type: E-commerce</p><p class="guion">_</p>
                                        </div>
                                        <div class="div-about-proyect-skills">
                                            <p class="about-proyect-skills">Hard skills:</p>
                                            <div class="div-skill"><img src="/img/icons/js-cuadrado.png" alt="" class="img-skill"></div>
                                            <div class="div-skill-medio"></div>
                                            <div class="div-skill"><img src="/img/icons/node-js.png" alt="" class="img-skill"></div>
                                            <div class="div-skill-medio"></div>
                                            <div class="div-skill"><img src="/img/icons/html.png" alt="" class="img-skill"></div>
                                            <div class="div-skill-medio"></div>
                                            <div class="div-skill"><img src="/img/icons/css.png" alt="" class="img-skill"></div>
                                            <div class="div-skill-medio"></div>
                                            <div class="div-skill"><img src="/img/icons/js.png" alt="" class="img-skill"></div>
                                            <div class="div-skill-medio"></div>
                                            <div class="div-skill"><img src="/img/icons/ejs.png" alt="" class="img-skill"></div>
                                            <div class="div-skill-medio"></div>
                                            <div class="div-skill"><img src="/img/icons/ex.png" alt="" class="img-skill"></div>
                                            <div class="div-skill-medio"></div>
                                            <div class="div-skill"><img src="/img/icons/git.png" alt="" class="img-skill"></div>
                                            <div class="div-skill-medio"></div>
                                            <div class="div-skill"><img src="/img/icons/sequelize2.png" alt="" class="img-skill"></div>
                                            <div class="div-skill-medio"></div>
                                            <div class="div-skill"><img src="/img/icons/icons8-database-100.png" alt="" class="img-skill"></div>
                                        </div>
                                        <div class="div-about-proyect-description">
                                            <p class="about-proyect-description">Description: Improved and re-designed Patitas site by myself. Some changes are: new and improved styling on all views, new small and medium devices filters for mobile and tablet use, new burger menu usability, new input verifications when typing, new user interactions on burger menu and filters.</p>
                                        </div>
                                        <div class="div-about-proyect-git">
                                            <a href="https://github.com/rodristoch/Patitas_v2.0" target="_blank">
                                                <div class="repo-git-button-externo" id="">
                                                    <p class="repo-git-button">See on Github</p><p class="guion" style="color: black; font-weight: 500;">_</p>
                                                </div>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="div-about-proyect-git-desktop" id="">
                                <a href="https://github.com/rodristoch/Patitas_v2.0" target="_blank">
                                    <div class="repo-git-button-externo">
                                        <p class="repo-git-button">See on Github</p><p class="guion" style="color: black; font-weight: 500;">_</p>
                                    </div>
                                </a>
                            </div>
                        </div>
                    </article>
                </article>

                
                <!-- PROYECTO 2 -->
                <article class="article-proyect"> <!-- el verde -->
                    <div class="div-interno-proyect"> <!-- el rojo, con el background translucido -->

                        <div class="div-con-img-work">
                            <a href="https://patitas-petshop.onrender.com">
                                <div class="div-con-img-work-interno">
                                    <img src="img/screenshots/portadas de paginas/Captura de pantalla 2024-08-14 194615.png" class="img-proyect" alt="img-proyect">
                                    <div class="etiqueta-dorada"><i class="fa-regular fa-link"></i></div>
                                </div>
                            </a>
                        </div>

                        <div class="div-description-proyect">  <!-- el yellow -->
                            <div class="div-interno-description-proyect">  <!-- el rojo -->
                                <div class="div-flex-column-data-proyect">  <!-- el violeta -->
                                    <div class="div-titulo-proyect">
                                        <p class="titulo-proyect">Site: Patitas</p><p class="guion" style="color: black; font-weight: 500;">_</p>
                                    </div>
                                    <div class="div-about-proyect">
                                        <p class="about-proyect">Type: E-commerce</p><p class="guion">_</p>
                                    </div>
                                    <div class="div-about-proyect-skills">
                                        <p class="about-proyect-skills">Hard skills:</p>
                                        <div class="div-skill"><img src="/img/icons/js-cuadrado.png" alt="" class="img-skill"></div>
                                        <div class="div-skill-medio"></div>
                                        <div class="div-skill"><img src="/img/icons/node-js.png" alt="" class="img-skill"></div>
                                        <div class="div-skill-medio"></div>
                                        <div class="div-skill"><img src="/img/icons/html.png" alt="" class="img-skill"></div>
                                        <div class="div-skill-medio"></div>
                                        <div class="div-skill"><img src="/img/icons/css.png" alt="" class="img-skill"></div>
                                        <div class="div-skill-medio"></div>
                                        <div class="div-skill"><img src="/img/icons/js.png" alt="" class="img-skill"></div>
                                        <div class="div-skill-medio"></div>
                                        <div class="div-skill"><img src="/img/icons/ejs.png" alt="" class="img-skill"></div>
                                        <div class="div-skill-medio"></div>
                                        <div class="div-skill"><img src="/img/icons/ex.png" alt="" class="img-skill"></div>
                                        <div class="div-skill-medio"></div>
                                        <div class="div-skill"><img src="/img/icons/git.png" alt="" class="img-skill"></div>
                                        <div class="div-skill-medio"></div>
                                        <div class="div-skill"><img src="/img/icons/sequelize2.png" alt="" class="img-skill"></div>
                                        <div class="div-skill-medio"></div>
                                        <div class="div-skill"><img src="/img/icons/icons8-database-100.png" alt="" class="img-skill"></div>
                                    </div>
                                    <div class="div-about-proyect-description">
                                        <p class="about-proyect-description">Description:  Pet-shop e-commerce with MVC design. Can be used on mobile, tablet or laptop. We used relational SQL data with Sequelize and dynamic HTML with EJS. Also own APIs were created. As it is a team project, the agile Scrum work method was used, and Git for sharing files between us using Github storage.</p>
                                    </div>
                                    <div class="div-about-proyect-git">
                                        <a href="https://github.com/rodristoch/grupo_8_PetShop" target="_blank">
                                            <div class="repo-git-button-externo" id="">
                                                <p class="repo-git-button">See on Github</p><p class="guion" style="color: black; font-weight: 500;">_</p>
                                            </div>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="div-about-proyect-git-desktop">
                            <a href="https://github.com/rodristoch/grupo_8_PetShop" target="_blank">
                                <div class="repo-git-button-externo" id="">
                                    <p class="repo-git-button">See on Github</p><p class="guion" style="color: black; font-weight: 500;">_</p>
                                </div>
                            </a>
                        </div>

                    </div>
                </article>

                <!-- PROYECTO 3 -->
                <article class="article-proyect"> <!-- el verde -->
                    <div class="div-interno-proyect"> <!-- el rojo, con el background translucido -->

                        <div class="div-con-img-work">
                            <a href="https://ml-rodrigo-stochetta.onrender.com">
                                <div class="div-con-img-work-interno">
                                    <img src="img/screenshots/portadas de paginas/Captura de pantalla 2024-08-15 135714.png" class="img-proyect" alt="img-proyect">
                                    <div class="etiqueta-dorada"><i class="fa-regular fa-link"></i></div>
                                </div>
                            </a>
                        </div>

                        <div class="div-description-proyect">  <!-- el yellow -->
                            <div class="div-interno-description-proyect">  <!-- el rojo -->
                                <div class="div-flex-column-data-proyect">  <!-- el violeta -->
                                    <div class="div-titulo-proyect">
                                        <p class="titulo-proyect">Site: MercadoLiebre</p><p class="guion" style="color: black; font-weight: 500;">_</p>
                                    </div>
                                    <div class="div-about-proyect">
                                        <p class="about-proyect">Type: Frontend proyect</p><p class="guion">_</p>
                                    </div>
                                    <div class="div-about-proyect-skills">
                                        <p class="about-proyect-skills">Hard skills:</p>
                                        <div class="div-skill"><img src="/img/icons/js-cuadrado.png" alt="" class="img-skill"></div>
                                        <div class="div-skill-medio"></div>
                                        <div class="div-skill"><img src="/img/icons/html.png" alt="" class="img-skill"></div>
                                        <div class="div-skill-medio"></div>
                                        <div class="div-skill"><img src="/img/icons/css.png" alt="" class="img-skill"></div>
                                        <div class="div-skill-medio"></div>
                                        <div class="div-skill"><img src="/img/icons/git.png" alt="" class="img-skill"></div>
                                    </div>
                                    <div class="div-about-proyect-description">
                                        <p class="about-proyect-description">Description: Very first front end proyect. Mercado Libre site style. As it is a front end proyect, HTML and cascade CSS files with some animations were used. Also a route system between home, register and login pages. Responsive design, can be used on mobile, tablet and laptop.</p>
                                    </div>
                                    <div class="div-about-proyect-git">
                                        <a href="https://github.com/rodristoch/MercadoLiebre-DH" target="_blank">
                                            <div class="repo-git-button-externo" id="">
                                                <p class="repo-git-button">See on Github</p><p class="guion" style="color: black; font-weight: 500;">_</p>
                                            </div>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="div-about-proyect-git-desktop">
                            <a href="https://github.com/rodristoch/MercadoLiebre-DH" target="_blank">
                                <div class="repo-git-button-externo" id="">
                                    <p class="repo-git-button">See on Github</p><p class="guion" style="color: black; font-weight: 500;">_</p>
                                </div>
                            </a>
                        </div>

                    </div>
                </article>
                    
            </section>

            <!-- FOOTER -->
            <%- include("./partials/footer.ejs") %>

        </main>
        
        <script src="/js/scroll-up.js"></script>
        <script src="/js/panel.js"></script>
        <script src="/js/button-proyects.js"></script>
        <script src="/js/cambioIdioma.js"></script>
        
    </body>
</html>