<!-- FOOTER -->
<footer>  <!-- el yellow, tiene el flex -->

    <div class="div-interno-footer">
        
        <section class="footer">  <!-- blue, 50% -->
            <h2 class="h2-nombre-footer">Rodrigo Stochetta</h2>
            <a href="/" class="a-h2-nombre-desktop-footer"><h2 class="h2-nombre-desktop-izq-footer">RODRIGO</h2><h2 class="h2-nombre-desktop-der-footer">STOCHETTA</h2></a>

            <div class="div-lorem">
                <p class="lorem">Thank you for visiting and taking time watching my portfolio, I made it with professionalism and passion, and I hope you enjoyed it like I did making it for you. Please feel free to contact me about anything you need.</p>
            </div>

            <!-- DESKTOP -->
            <p class="copyright-desktop">Copyright © 2024 RS</p>

        </section>

        <!-- CONTACT FOOTER -->
        <section class="section-de-contacto2">  <!-- blue, 50% -->

            <div class="div-flex-links-footer">
                <h2 class="titulo-desktop-footer-izq"><a href="/about">Who am I?</a></h2>
                <h2 class="titulo-desktop-footer-der"><a href="/proyects">Proyects</a></h2>
            </div>
            
            <h2 class="titulo-desktop-footer">Contact</h2>

            <div class="div-interno-contacto-footer">

                <article class="article-icon-contacto-git">
                    <a href="https://github.com/rodristoch" target="_blank">
                        <div class="div-con-img-contacto">
                            <img src="/img/icons/contact/github-mark-white.png" alt="github" class="img-contacto">
                        </div>
                    </a>
                    <p class="p-dato-contacto-desktop-footer">github.com/rodristoch</p>
                </article>

                <article class="article-icon-contacto-linkedin">
                    <a href="https://www.linkedin.com/in/rodrigo-stochetta/" target="_blank">
                        <div class="div-con-img-contacto">
                            <img src="/img/icons/contact/linkedin.512x512.png" alt="linkedin" class="img-contacto">
                        </div>
                    </a>
                    <p class="p-dato-contacto-desktop-footer">linkedin.com/in/rodrigo-stochetta</p>
                </article>

                <article class="article-icon-contacto-phone">
                    <a href="https://wa.me/5491136517343/?text=Hola%20Rodrigo" target="_blank">
                        <div class="div-con-img-contacto">
                            <img src="/img/icons/contact/icons8-whatsapp-messenger-96.png" alt="whatsapp" class="img-contacto">
                        </div>
                    </a>
                    <p class="p-dato-contacto-desktop-footer">+5491136517343</p>
                </article>

                <article class="article-icon-contacto-mail">
                    <a href="mailto:rodrigostochetta@gmail.com?subject=Full Stack Web Developer" target="_blank">
                        <div class="div-con-img-contacto">
                            <img src="/img/icons/contact/icons8-email-100.png" alt="mail" class="img-contacto">
                        </div>
                    </a>
                    <p class="p-dato-contacto-desktop-footer">rodrigostochetta@gmail.com</p>
                </article>

            </div>
        </section>

    </div>
    
    <!-- MOBILE -->
    <section class="footer-copyright">
        <p class="copyright">Copyright © 2024 RS</p>
    </section>
</footer>