<section class="section-top">
    <div class="div-top">  <!-- el rojo -->

        <a href="/" class="a-h2-nombre">
            <h2 class="h2-nombre">RS</h2>
            <!-- <div class="hori"></div>
            <div class="hori2"></div>
            <div class="verti"></div>
            <div class="verti2"></div> -->
        </a>
        <a href="/" class="a-h2-nombre-desktop1200"><h2 class="h2-nombre-desktop-izq">RODRIGO</h2><h2 class="h2-nombre-desktop-der">STOCHETTA</h2></a>
        
        <div class="div-icon" style="opacity: 1;" id="menuH">
            <i class="fa-sharp fa-regular fa-bars-staggered"></i>  <!-- menu hamburg -->
            <i class="fa-sharp fa-regular fa-xmark"></i>  <!-- cruz -->

            <div class="div-links">  <!-- contenedor oculto -->
                <div class="div-links-interior">
                    
                    <div class="contenedor-verde-primerodearriba"> <!-- el contenedor verde -->
                        <p class="p-link"><a href="/" class="link-contenedor-oculto-top">Home</a></p>  
                    </div>

                    <div class="contenedor-verde-medio"> <!-- el contenedor verde -->
                        <p class="p-link"><a href="/proyects" class="link-contenedor-oculto-top">Proyects</a></p> 
                    </div>

                    <div class="contenedor-verde-ultimodeabajo"> <!-- el contenedor verde -->
                        <p class="p-link"><a href="/about" class="link-contenedor-oculto-top">Who am I?</a></p>
                    </div>

                    <div class="contenedor-azul-leyenda"> <!-- el contenedor verde -->
                        <p class="p-leyenda">“Creo que el mejor curriculum que puede presentar un programador es el de un buen trabajo realizado con la máxima calidad y sobre todo enorme utilidad” - Rafael Gómez</p>
                    </div>

                </div>
            </div>
        </div>

        <div class="div-navbar">

            <div class="div-navbar-interior">

                <p class="button-navbar"><a href="/">Home</a></p>

                <p class="button-navbar"><a href="/about">Who am I?</a></p>

                <p class="button-navbar"><a href="/proyects">Proyects</a></p>

                <!-- <div class="div-idioma-navbar">
                    <p class="button-navbar-idioma">English</p>
                </div>
                <div class="contenedor-opciones">
                    <div class="contenedor-opciones-interior">
                        <p class="seleccion-idioma-home">Select your language:</p>
                        <p class="opcion-ingles">English</p>
                        <p class="opcion-espanol">Spanish</p>
                    </div>
                </div> -->
                
            </div>

        </div>

    </div>
</section>